@import "day-of-the-month.scss";
@import "first-day-of-the-week.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 706px;

  div {
    position: relative;
    top: 0;

    height: 100px;
    width: 100px;

    background-color: #eee;
    border: 1px solid black;

    transition: all ease 0.5s;

    &:hover {
      top: -20px;

      background-color: #ffbfcb;
      cursor: pointer;
    }

    &::after {
      display: flex;
      justify-content: center;

      font-family: Arial, sans-serif;
      font-size: 30px;
      line-height: 100px;

      color: #000;
    }
  }

  // remove last days
  &-30 {
    div:nth-last-child(1) {
      display: none;
    }
  }
  &-29 {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }
  &-28 {
    div:nth-last-child(-n+3) {
      display: none;
    }
  }
}
