* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

//calendar num of a day loop:
@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i}) {
    &::after {
      content: "#{$i}";
    }
  }
}

//basic styles:
.calendar {
  display: flex;
  gap: 1px;
  max-width: 720px;
  flex-wrap: wrap;

  div {
    height: 100px;
    width: 100px;
    background-color: #eee;
    align-self: flex-start;
    border: 1px solid black;
    transition: all ease 0.5s;
    position: relative;
    top: 0;

    &:hover {
      top: -20px;
      background-color: #ffbfcb;
      cursor: pointer;
    }

    &::after {
      display: flex;
      line-height: 100px;
      align-items: center;
      justify-content: center;
      font-family: Arial, sans-serif;
      font-size: 30px;
      color: #000;
    }
  }

  // delete days
  &-30 {
    div:nth-last-child(1) {
      display: none;
    }
  }
  &-29 {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }
  &-28 {
    div:nth-last-child(-n+3) {
      display: none;
    }
  }

  //first day of week:
  &-tue {
    div:first-child {
      margin-left: 101px;
    }
  }

  &-wed {
    div:first-child {
      margin-left: 202px;
    }
  }

  &-thu {
    div:first-child {
      margin-left: 303px;
    }
  }

  &-fri {
    div:first-child {
      margin-left: 404px;
    }
  }

  &-sat {
    div:first-child {
      margin-left: 505px;
    }
  }

  &-sun {
    div:first-child {
      margin-left: 606px;
    }
  }
}
