@import "variables.scss";
@import "day-of-the-month.scss";
@import "first-day-of-the-week.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $block-gap;
  max-width: 706px;

  div {
    position: relative;
    top: 0;

    height: $block-size;
    width: $block-size;

    background-color: $main-bcg-color;
    border: $block-border;

    transition: $animation-transition;

    &:hover {
      top: -20px;

      background-color: $hover-bcg-color;
      cursor: pointer;
    }

    &::after {
      display: flex;
      justify-content: center;

      font-family: $main-font;
      font-size: $main-font-size;
      line-height: 100px;
    }
  }

  // remove last days
  &-30 {
    div:nth-last-child(1) {
      display: none;
    }
  }
  &-29 {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }
  &-28 {
    div:nth-last-child(-n+3) {
      display: none;
    }
  }
}
