$main-font: "Arial", sans-serif;
$main-font-size: 30px;

$block-size: 100px;
$main-bcg-color: #eee;
$hover-bcg-color: #ffbfcb;
$block-border: 1px solid #000;
$block-gap: 1px;

$animation-transition: all ease 0.5s;
